.link{
    color: brown;
    font-size: 21px;
    background-color: aliceblue;
    text-decoration: overline;
}
body{
    background-color: rgb(0, 0, 0);
    
}
#para2{
    color: rgb(240, 196, 139);
    border: 3px dashed rgb(234, 0, 0);
    margin-left: 30px;
    margin-right: 1500px;
    padding-left: 20px;
    padding-right: 30px;
}
#para3{
    margin: 40px;
    border: 1px solid rgb(219, 192, 192);
    padding: 20px;
    letter-spacing:3px;
}
a,
p,
div{
    font-family: Arial, Helvetica, sans-serif;
}
#para,
#para{
    background-color: rgb(255, 255, 255);
}
*

{
    color:yellow;
}